<app-header-page [titlePage]="titlePage"></app-header-page>
<div class="box">
    <form (ngSubmit)="add(formAdd);" #formAdd = "ngForm">
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-4">
            <label>Họ tên:</label>
        </div>
        <div class="mr-auto p-2 col-8">
            <input class="form-control" type="text" placeholder="Nguyễn Văn A" #txtName = "ngModel" [(ngModel)] ="name" name="name" required>
        </div>
    </div>
    <div class="text-danger">
        <label *ngIf="txtName.touched && txtName.errors?.required">
            Name is required
        </label>
    </div>
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-4">
            <label>Ngày sinh:</label>
        </div>
        <div class="mr-auto p-2 col-8">
            <input class="form-control" type="date" #txtBirthday="ngModel" [(ngModel)]="birthday" name="birthday">
        </div>
    </div>
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-4">
            <label>Giới tính:</label>
        </div>
        <div class="mr-auto p-2 col-8">
            <select>
                <option>Nam</option>
                <option>Nữ</option>
                <option>Khác</option>
            </select>
        </div>
    </div>
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-4">
            <label>Giới tính:</label>
        </div>
        <div class="mr-auto p-2 col-8">
            <input class="form-control" type="tel" placeholder="0961907516" #txtPhoneNumber = "ngModel" [(ngModel)]="phoneNumber" name="phonenumber" required>
        </div>
    </div>
    <div class="text-danger">
        <label *ngIf="txtPhoneNumber.touched && txtPhoneNumber.errors?.required">
            Phone Number is required
        </label>
    </div>
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-4">
            <label>Email</label>
        </div>
        <div class="mr-auto p-2 col-8">
            <input class="form-control" type="email" placeholder="daotruong1907@gmail.com">
        </div>
    </div>
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-4">
            <label>Mật khẩu</label>
        </div>
        <div class="mr-auto p-2 col-8">
            <input class="form-control" type="password" #txtPassword = "ngModel" [(ngModel)] ="password" name="password" required>
        </div>
    </div>
    <div class="text-danger">
        <label *ngIf="txtPassword.touched && txtPassword.errors?.required">
            Password is required
        </label>
    </div>
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-4">
            <label>Nhập lại mật khẩu</label>
        </div>
        <div class="mr-auto p-2 col-8">
            <input class="form-control" type="password" #txtRePassword = "ngModel" [(ngModel)] ="rePassword" name="rePassword" required>
        </div>
    </div>
    <div class="text-danger">
        <label *ngIf="txtRePassword.touched && txtRePassword.errors?.required">
            Password is required
        </label>
    </div>
    <div class="p-2 d-flex col">
        <div class="ml-auto p-2 col-3">
            <button class="btn btn-primary" [disabled]="formAdd.invalid">Add</button>
        </div>
        <div class="col-2"></div>
        <div class="mr-auto p-2 col-7">
            <button [routerLink]="['/search']" class="btn btn-secondary" >Về trang quản trị</button>
        </div>
    </div>
</form>
</div>