<app-header-page [titlePage]="titlePage"></app-header-page>
<div>
    <form (ngSubmit)="validateDate(formSearch,true)" #formSearch="ngForm">
        <div class="d-flex">
            <div class="p-2 d-flex">
                <div class="ml-auto p-2">
                    <label>Ngày sinh từ </label>
                </div>
                <div class="mr-auto p-2">
                    <input class="form-control" type="date" #txtFromBirthday="ngModel" [ngModel]="fromBirthday"
                        (blur)="validateDate(formSearch,false, $event)" name="fromBirthday">
                </div>
            </div>

            <div class="p-2 d-flex">
                <div class="ml-auto p-2">
                    <label>Đến </label>
                </div>
                <div class="mr-auto p-2">
                    <input class="form-control" type="date" #txtToBirthday="ngModel" [ngModel]="toBirthday"
                        (blur)="validateDate(formSearch,false, $event)" name="toBirthday">
                </div>
            </div>
            <div class="ml-auto p-2 d-flex">
                <div class="ml-auto p-2">
                    <label>Giới tính </label>
                </div>
                <div class="mr-auto p-2">
                    <select [(ngModel)]="searchInterface.ParamSearchEmployee.Sex" name="sex">
                        <option value=3>Tất cả</option>
                        <option value=0>Nam</option>
                        <option value=1>Nữ</option>
                        <option value=2>Khác</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="text-danger">
            <label
                *ngIf="(txtToBirthday.touched && txtToBirthday.errors?.required && notification && isBirthDay)||( txtFromBirthday.errors?.required && txtFromBirthday.touched && notification && isBirthDay)">
                {{notification}}
            </label>
        </div>
        <div class="d-flex">
            <div class="mr-auto p-2 d-flex">
                <div class="ml-auto p-2">
                    <label>Tìm kiếm </label>
                </div>
                <div class="mr-auto p-2">
                    <input class="form-control" type="text" placeholder="Tìm theo Email, Họ tên"
                        #txtNameOrEmail="ngModel" [(ngModel)]="searchInterface.ParamSearchEmployee.NameOrEmail" (ngModelChange)="onChangeForm()"
                        name="nameOrEmail" required>
                </div>
            </div>
            <div class="p-2">
                <button class="btn btn-primary" [disabled]="notification"
                    type="submit">Tìm</button>
            </div>
            <div class="p-2">
                <button class="btn btn-primary" [routerLink]="['/add']">Thêm mới</button>
            </div>
        </div>
    </form>
    <div color="black">
        <label *ngIf="notification" class="text-danger">{{notification}}</label>
    </div>

    <table class="table table-bordered text-center">
        <thead class="thead-light">
            <tr class="text">
                <th scope="col">STT</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Sửa</th>
                <th scope="col">Xóa</th>
            </tr>
            <tr *ngFor="let employee of arrEmployee | paginate: { itemsPerPage: count, currentPage: p } ; index as i "
                class="text">
                <th scope="col">{{i+1}}</th>
                <th scope="col">{{employee.name}}</th>
                <th scope="col">{{employee.birthDay|date:'dd-MM-yyyy'}}</th>
                <th scope="col">{{employee.sex=='0'?'Nam':1?'Nữ':2?'LGBT':''}}</th>
                <th scope="col">{{employee.phoneNumber}}</th>
                <th scope="col">{{employee.email}}</th>
                <th scope="col"><button class="btn btn-warning" [routerLink]="['/update',employee.id]">Sửa</button></th>
                <th scope="col"><button class="btn btn-danger" (click)="open(mymodal,employee.id)">Xóa</button></th>
            </tr>
        </thead>

    </table>
    <div class="text-center">
        <pagination-controls *ngIf="arrEmployee.length > 0" (pageChange)="p = $event"></pagination-controls>
    </div>

    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>
            <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body">
            <label>{{modalConfirm?"Bạn có muốn xóa không?":deletedStatus?trueSave:falseSave}}</label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"
                *ngIf="modalConfirm">Hủy</button>
            <button type="button" class="btn btn-danger" (click)="modal.close()">Đồng ý</button>
        </div>
    </ng-template>