
.box {
  position: relative;
  margin: 70px 500px 70px 700px;
  opacity: 1;
  padding: 100px 100px 100px 100px;
  width: 100%;
  background: rgb(185, 183, 183);
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  max-width: 530px;
}