
.box {
  position: relative;
  margin: 250px 500px 250px 700px;
  opacity: 1;
  padding: 100px 100px 100px 100px;
  width: 100%;
  background: rgb(185, 183, 183);
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  max-width: 530px;
}
input.ng-touched.ng-invalid
{
    border: 2px solid red;
}
input.ng-touched.ng-invalid.p{
  color: red;
}