<div>
    <div class="box" style="align-items: center; text-align: center;">
      <div>
        <div style="margin-bottom: 50PX; margin-top: -80px;" >
            <h1>LOGIN</h1>
        </div>
      <div>
      <form (ngSubmit)="login(formLogin);" #formLogin = "ngForm">
        <div class="d-flex flex-column">
          <div class="p-2 d-flex col">
            <div class="ml-auto p-2 col-4">
              <label >User </label>
            </div>
            <div class="mr-auto p-2 col-8">
              <input class="form-control" placeholder="Username" #txtUserName="ngModel" [(ngModel)] = "userName" name="userName" required>
            </div> 
          </div>
          <div class="text-danger">
            <label *ngIf="txtUserName.touched && txtUserName.errors?.required">
              Username is required
            </label>
          </div>
          <div class="p-2 d-flex col">
            <div class="ml-auto p-2 col-4">
              <label>Password</label>
            </div>
            <div class="mr-auto p-2 col-8">
              <input class="form-control" placeholder="Password" type="password" #txtPassword = "ngModel" [(ngModel)] = "password" name="password" required>
            </div>
          </div>
          <div class="text-danger">
            <label *ngIf="txtPassword.touched && txtPassword.errors?.required">
              Password is required
            </label>
          </div>
          <div>
              <p class="text-danger">{{notification}}</p>
          </div>
        </div>
            <button class="btn btn-primary" [disabled]="formLogin.invalid">Login</button> 
      </form>
    </div>
  </div>
